[submodule "third-party/SIMDString"]
	path = third-party/SIMDString
	url = https://github.com/RobloxResearch/SIMDString.git
[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third-party/re2"]
	path = third-party/re2
	url = https://github.com/google/re2.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
